@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

scrollbar-thumb {
  top: 2px;
  left: 2px;
  height: 6px;
  width: 6px;
  min-width: 6px;
  min-height: 6px;
  background: #a1a1aa;
  border-radius: 3px;
}

scrollbar-track {
  background: #404040;
  padding: 2px;
}

scrollbar-corner {
  width: 10px;
  height: 10px;
}

scrollbar.vertical {
  width: 10px;
}

scrollbar.horizontal {
  height: 10px;
}

.has-horizontal-scrollbar {
  padding-bottom: 10px;
}
