.home {
  background: rgb(247, 247, 247);
  height: 100%;

  .container {
    padding: 60px 20px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }

  .name {
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
  }

  .version {
    color: #717171;
  }

  .description {
    font-size: 16px;
  }

  .logo {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-position: center;
    background-image: url("./assets/logo.png");
  }

  .usage {
    text-align: center;
  }
}
